* {
    padding: 0;
    margin: 0;
    /* border: 2px solid red; */
}

  
nav{
    height: 100px;
    background-color: darkblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
  
main{
    position: relative;
    top: 91px;
    padding-top: 100px;
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    padding: 14px 300px 600px 301px;
    margin: 0;
}

.one {
    border-left: 6px solid green;
    position: absolute;
    top: 5px;
    left: 276px;
    bottom: 100px; 
}

.second {
    border-left: 6px solid green;
    position: absolute;
    top: 5px;
    right: 266px;
    bottom: 100px; 
}
  
footer {
    background-color: green;
    text-align: center;
    padding: 50px;
    position: fixed; 
    bottom: 0; 
    left: 0;
    right: 0;
    color: white;
}

  