*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: green;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}

.container:hover{
    margin-top: 400px;
    background-color: pink;

}