*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 0px auto;
    transition: margin-top 4s ease-in 0.5s;

}

.container:hover{
    margin-top: 500px;
    background-color: blue;
    border-radius: 50%;
    scale: 0.90;
    transition: 7s ease-in 0.8s;
}