@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family:"Kode Mono", monospace;
}

.outer-box{
    width: 100vw;
    height: 100vw;
    background:linear-gradient(to top left,blue,orange) ;
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px red;
}
.signup-header h1{
    font-size: 2.5rem;
    color: black;
}
.signup-header p{
    font-size: 0.9rem;
    color: blue;
    
}

.signup-body{
    margin: 20px 0px;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding:10px;
    border: 2px solid grey;
    font-size: 1rem;
    margin-top: 2px;
}

#submit{
    background-color: #3498db;
    border: none;
    color: white;
    border-radius: 12px;
    cursor: pointer;
}

#submit:hover{
    color: black;
}

.signup-footer p{
    color: #555;
    text-align: center;
}

.signup-footer p a{
    color: #3498db ;
}



